<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>title</title>
		<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">

		<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&&family=Noto+Sans&display=swap" rel="stylesheet">

	</head>
	<body>

		<h1>Test</h1>

		<span>Total Games </span><%= manyValues.totalGames %>
		<br>
		<span>Win Percentage </span> <%= manyValues.winP %>
		<br>
		<span>Time Played </span> <%= manyValues.timePlayed %>
		<br>
		<span>Kills </span> <%= manyValues.kills %>
		<br>
		<span>Assists </span> <%= manyValues.assists %>
		<br>
		<span>Deaths </span> <%= manyValues.deaths %>
		<br>
		<span>Double Kills </span> <%= manyValues.doubleKills %>
		<br>
		<span>Triple Kill </span> <%= manyValues.tripleKill %>
		<br>
		<span>Quadra Kills </span> <%= manyValues.quadraKills %>
		<br>
		<span>Penta Kills </span> <%= manyValues.pentaKills %>
		<br>
		<span>Summoner Name </span> <%= manyValues.summonerName %>
		<br>
		<span>creep Score </span> <%= manyValues.creepScore010 %>
		<br>

		<% for(var i=0; i < manyValues.RankData.length; i++) { %>

		<% if(manyValues.RankData[i].queue === "RANKED_SOLO_5x5" ) { %>
				Solo Rank
			<% } else if(manyValues.RankData[i].queue === "RANKED_FLEX_SR") { %>	
				Flex Rank
			<%}%>
		<%= manyValues.RankData[i].tier %>
		<%= manyValues.RankData[i].rank %>	
		<br>

		<% } %>




	</body>
</html>